@model HACTO.Models.Model.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Şifremi Unuttum - HactoAdmin</title>
    <!-- Favicons -->
    <link href="~/Content/AdminLayout/assets/img/favicon.png" rel="icon">
    <link href="~/Content/AdminLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/AdminLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/AdminLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-center py-4">
                <a href="/admin/login" class="logo d-flex align-items-center w-auto">
                    <img src="~/content/adminlayout/assets/img/logo.png" alt="">
                    <span class="d-none d-lg-block">hactoadmin</span>
                </a>
            </div> @*end logo*@

            @using (Html.BeginForm("SifremiUnuttum", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="şifremi mail olarak gönder" class="btn btn-default text-white" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>               
</html>
